Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"
ErrorDocument 404 /error.html

#habilitar el modulo de encabezados(headers)
<IfModule mod_headers.c>
    Header set Cache-Control "max-age=31536000, public"
</IfModule>

#Configurar encabezados de cache para Css,JacaScript y imagenes

<FilesMatch "\.(css|js|jpg|jpeg|png|gif|ico)$">
    Header set Cache-Control "max-age=31536000, public"
</FilesMatch>


RewriteEngine On

# Redirigir todas las solicitudes a la versión sin "www"
RewriteCond %{HTTP_HOST} ^www\.kmbjgeneralcontractor\.com$ [NC]
RewriteRule ^(.*)$ http://kmbjgeneralcontractor.com/$1 [R=301,L]

# Redirigir solicitudes con la extensión ".html" a URLs sin la extensión
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.html [NC]
RewriteRule ^ %1 [R=301,L]

# Si el archivo HTML existe, servirlo sin la extensión
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([^\.]+)$ $1.html [NC,L]